In [1]:
import pandas as pd
import numpy as np

In [3]:
# Load CSV file
df = pd.read_csv(r"/content/KaggleV2-May-2016.csv")

# Display first 5 rows
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62.0,JARDIM DA PENHA,0.0,1.0,0.0,0.0,0.0,0.0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56.0,JARDIM DA PENHA,0.0,0.0,0.0,0.0,0.0,0.0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62.0,MATA DA PRAIA,0.0,0.0,0.0,0.0,0.0,0.0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8.0,PONTAL DE CAMBURI,0.0,0.0,0.0,0.0,0.0,0.0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56.0,JARDIM DA PENHA,0.0,1.0,1.0,0.0,0.0,0.0,No

In [5]:
# Check shape
print("Dataset shape:", df.shape)

Dataset shape: (107920, 14)

In [6]:
# Check info (columns and types)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107920 entries, 0 to 107919
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       107920 non-null  float64
 1   AppointmentID   107920 non-null  int64
 2   Gender          107920 non-null  object
 3   ScheduledDay    107920 non-null  object
 4   AppointmentDay  107919 non-null  object
 5   Age             107919 non-null  float64
 6   Neighbourhood   107919 non-null  object
 7   Scholarship     107919 non-null  float64
 8   Hipertension    107919 non-null  float64
 9   Diabetes        107919 non-null  float64
 10  Alcoholism      107919 non-null  float64
 11  Handcap         107919 non-null  float64
 12  SMS_received    107919 non-null  float64
 13  No-show         107919 non-null  object
dtypes: float64(8), int64(1), object(5)
memory usage: 11.5+ MB

In [9]:
# Check for missing values in each column
print("\nMissing values in each column:\n", df.isnull().sum())

Missing values in each column:
 PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    1
Age               1
Neighbourhood     1
Scholarship       1
Hipertension      1
Diabetes          1
Alcoholism        1
Handcap           1
SMS_received      1
No-show           1
dtype: int64

In [10]:
# Check if there are duplicate rows
print("\nNumber of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 0

In [11]:
# Quick statistics for numeric and categorical columns
df.describe(include='all')

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
count,1.079200e+05,1.079200e+05,107920,107920,107919,107919.000000,107919,107919.000000,107919.000000,107919.000000,107919.000000,107919.000000,107919.000000,107919
unique,NaN,NaN,2,101155,27,NaN,81,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,NaN,F,2016-05-06T07:09:54Z,2016-05-16T00:00:00Z,NaN,JARDIM CAMBURI,NaN,NaN,NaN,NaN,NaN,NaN,No
freq,NaN,NaN,70376,24,4613,NaN,7616,NaN,NaN,NaN,NaN,NaN,NaN,86111
mean,1.471753e+14,5.673693e+06,NaN,NaN,NaN,37.062297,NaN,0.098861,0.197630,0.072239,0.029374,0.022211,0.318943,NaN
std,2.556319e+14,7.088832e+04,NaN,NaN,NaN,23.138203,NaN,0.298477,0.398213,0.258885,0.168853,0.161414,0.466069,NaN
min,3.921784e+04,5.030230e+06,NaN,NaN,NaN,-1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,4.175435e+12,5.639644e+06,NaN,NaN,NaN,18.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
50%,3.166738e+13,5.679193e+06,NaN,NaN,NaN,37.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
75%,9.437323e+13,5.722460e+06,NaN,NaN,NaN,55.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN
max,9.999816e+14,5.790484e+06,NaN,NaN,NaN,115.000000,NaN,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,NaN

In [12]:
# Drop any duplicate rows to avoid redundant data
df.drop_duplicates(inplace=True)

In [13]:
# Verify duplicates are removed
print("Duplicate rows after cleaning:", df.duplicated().sum())

Duplicate rows after cleaning: 0

In [15]:
# Fill missing values in 'Gender' column
if 'Gender' in df.columns:
    df['Gender'] = df['Gender'].fillna('unknown')

# Fill missing values in 'Age' column with median
if 'Age' in df.columns:
    df['Age'] = df['Age'].fillna(df['Age'].median())

In [17]:
# Convert 'Gender' column to lowercase
if 'Gender' in df.columns:
    df['Gender'] = df['Gender'].str.lower()

# Convert 'No-show' column to lowercase
if 'No-show' in df.columns:
    df['No-show'] = df['No-show'].str.lower()

# Clean 'Neighbourhood' column: strip spaces and capitalize properly
if 'Neighbourhood' in df.columns:
    df['Neighbourhood'] = df['Neighbourhood'].str.strip().str.title()

In [18]:
# Remove leading/trailing spaces, convert to lowercase, and replace spaces with underscores
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

# Check new column names
df.columns

Index(['patientid', 'appointmentid', 'gender', 'scheduledday',
       'appointmentday', 'age', 'neighbourhood', 'scholarship', 'hipertension',
       'diabetes', 'alcoholism', 'handcap', 'sms_received', 'no-show'],
      dtype='object')

In [19]:
# Convert 'scheduledday' and 'appointmentday' to datetime format
if 'scheduledday' in df.columns:
    df['scheduledday'] = pd.to_datetime(df['scheduledday'], format='%Y-%m-%dT%H:%M:%SZ')

if 'appointmentday' in df.columns:
    df['appointmentday'] = pd.to_datetime(df['appointmentday'], format='%Y-%m-%dT%H:%M:%SZ')

In [20]:
# Ensure 'age' column is integer type
if 'age' in df.columns:
    df['age'] = df['age'].astype(int)

# Verify types after conversion
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107920 entries, 0 to 107919
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   patientid       107920 non-null  float64
 1   appointmentid   107920 non-null  int64
 2   gender          107920 non-null  object
 3   scheduledday    107920 non-null  datetime64[ns]
 4   appointmentday  107919 non-null  datetime64[ns]
 5   age             107920 non-null  int64
 6   neighbourhood   107919 non-null  object
 7   scholarship     107919 non-null  float64
 8   hipertension    107919 non-null  float64
 9   diabetes        107919 non-null  float64
 10  alcoholism      107919 non-null  float64
 11  handcap         107919 non-null  float64
 12  sms_received    107919 non-null  float64
 13  no-show         107919 non-null  object
dtypes: datetime64[ns](2), float64(7), int64(2), object(3)
memory usage: 11.5+ MB

In [21]:
# Drop any duplicate rows to avoid redundancy
df.drop_duplicates(inplace=True)

# Verify duplicates are removed
print("Duplicate rows after cleaning:", df.duplicated().sum())

Duplicate rows after cleaning: 0

**Saving the dataset**

In [25]:
# Save the cleaned dataset to a new CSV file
df.to_csv("Medical_Appointment_Cleaned.csv", index=False)

**summary of data cleaning**

In [24]:
print("Summary of Data Cleaning:")
print("- Removed duplicate rows")
print("- Filled missing values in 'gender' with 'unknown'")
print("- Filled missing values in 'age' with median age")
print("- Standardized text in 'gender', 'no-show', and 'neighbourhood'")
print("- Renamed columns to lowercase with underscores")
print("- Converted 'scheduledday' and 'appointmentday' to datetime format")
print("- Converted 'age' column to integer type")

Summary of Data Cleaning:
- Removed duplicate rows
- Filled missing values in 'gender' with 'unknown'
- Filled missing values in 'age' with median age
- Standardized text in 'gender', 'no-show', and 'neighbourhood'
- Renamed columns to lowercase with underscores
- Converted 'scheduledday' and 'appointmentday' to datetime format
- Converted 'age' column to integer type